li {
	font-size: 20px;
	line-height: 1.5;
	font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
}

h2 {
	font-size: 35px;
	text-decoration: underline;
	line-height: 0.1;
	font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

h1 {
	font-size: 40px;
	text-align: center;
	line-height: 0.7;
	font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

img {
	float: right;
	border-radius: 18px;
	width: 300px
}